[Unit]
Description=dummy service
After=network.target

[Service]
User=root
WorkingDirectory=/app/dummy/dummy-service
ExecStart=foreman start
Restart=always

[Install]
WantedBy=multi-user.target
WantedBy=reboot.target	

